{% extends "base.html" %}

{% block content %}
    <h2>Edit Profile</h2>
    <form action="" method="post" novalidate>
        {{ profileForm.hidden_tag() }}
        <p>
            {{ profileForm.phoneNumber.label }}<br>
            {% if profile == None: %}
                {{ profileForm.phoneNumber(size=32) }}
            {% else: %}
                {{ profileForm.phoneNumber(value=profile.phoneNumber) }}
            {% endif %}
        </p>
        <p>
            {{ profileForm.contactEmail.label }}<br>
            {% if profile == None: %} 
                {{ profileForm.contactEmail(size=32) }}
            {% else: %} 
                {{ profileForm.contactEmail(value=profile.contactEmail) }}
            {% endif %}
        </p>
        <p>
            {{ profileForm.highSchool.label }}<br>
            {% if profile == None: %} 
                {{ profileForm.highSchool(size=32) }}
            {% else: %} 
                {{ profileForm.highSchool(value=profile.highSchool) }}
            {% endif %}
        </p>
        <p>
            {{ profileForm.university.label }}<br>
            {% if profile == None: %} 
                {{ profileForm.university(size=32) }}
            {% else: %} 
                {{ profileForm.university(value=profile.university) }}
            {% endif %}
        </p>
        <p>
            {{ profileForm.introduction.label }}<br>
            {% if profile == None: %} 
                {{ profileForm.introduction(size=32) }}
            {% else: %} 
                {{ profileForm.introduction(value=profile.introduction) }}
            {% endif %}
        </p>
        <p>{{ profileForm.submit() }}</p>
    </form>
{% endblock %}