{% extends "base.html" %}

{% block content %}
<h1>My Listings:</h1>
    {% for listing in Listings %}   
    <table style="width: 100%;" border="6" cellpadding="20">
    
    <tr>
        <th style="text-align:center">Business</th>
        <th style="text-align:center">Address</th>
        <th style="text-align:center">Position</th>
        <th style="text-align:center">Qualifications</th>
        <th style="text-align:center">Type</th>
        <th style="text-align:center">Work Time</th>
        <th style="text-align:center">Description</th>
        <th style="text-align:center">Benefits</th>
        <th style="text-align:center">Salary</th>
    </tr>
    
    <tr>
        <td>{{listing.businessName}}</td>
        <td>{{listing.streetAddress}}<br>
            {{listing.city}}, {{listing.state}}, {{listing.zip}}</td>
        <td>{{listing.positionTitle}}</td>
        <td>{{listing.qualifications}}</td>
        <td>
            {% if listing.isInternship==1: %}
                Internship
            {% elif listing.isInternship==0: %}
                Job
            {% endif %}
        </td>
        <td>
            {% if listing.isPartTime==1: %}
                Part-time
            {% elif listing.isParTime==0: %}
                Full-time
            {% endif %}
        </td>    
        <td>{{listing.description}}</td>
        <td>{{listing.benefits}}</td>
        <td>{{listing.salary}}</td>
    </tr>
    <tr><th>Applicants for this listing:</th></tr>
    
    {% for application in Applications if (application.listingId == listing.id) %}
   
    {% set p = namespace(userId=0) %}
    {% for profile in Profiles if (profile.id == application.profileId) %}
        {% set p.userId = profile.userId %}
    {% endfor %}

    {% set n = namespace(name="") %}
    {% for user in StudentUsers if (user.id == p.userId) %}
        {% set n.name = user.firstName + " " + user.lastName %}
    {% endfor %}

    <tr>
        <td colspan="9">
            <a href={{ url_for('view_profile', profileId = application.profileId)}}>
                {{ n.name }}
            </a>
        </td>
    </tr>
    {% endfor %}
    <br>
    {% endfor %}

  

    </table>


			
{% endblock %}