{% extends "base.html" %}

{% block content %}

<h1>{{current_user.firstName}} {{current_user.lastName}}'s Profile:</h1>
<form action="/edit_profile">
<input type="submit" value="Edit Profile" />
</form>
<table style="width: 60%;" border="1" cellpadding="3">
<style> td, th {
  text-align: left;
}
</style>
<tr>
		<tr>
            <th>Phone:</th>
                <td>{{Profile.phoneNumber}}</td>
		</tr>
            <tr> 
            <th>Email:</th>
                <td>{{Profile.contactEmail}}</td>
        </tr>
        <tr>
            <th>High School:</th>
                <td>{{Profile.highSchool}}</td>
        </tr>
        <tr>
            <th>College/University:</th>
                <td>{{Profile.university}}</td>
        </tr>
        <tr>
            <th>Description:</th>
                <td>{{Profile.introduction}}</td>
        </tr>
 </table>

{% if Profile: %}
    <h1>Job History:</h1>

    {% for job in JobHistories %}
        <form action="/edit_job_history">
            
            <input type="submit" value="Edit Job History" /> 
            <input type="hidden" name="jobid" value={{job.id}}>
            <button>Delete Job</button>
        
            <table style="width: 60%;" border="1"  cellpadding="3">
            <style> td, th {
            text-align: left;
            }
            </style>
                    <tr>
                        <th>Position Title:</th>
                            <td>{{job.title}}</td>
                    </tr>
                    <tr> 
                        <th>Employer:</th>
                            <td>{{job.companyName}}</td>
                    </tr>
                    <tr>
                        <th>Start Date:</th>
                            <td>{{job.startDate}}</td>
                    </tr>
                    <tr>
                        <th>End Date:</th>
                            <td>{{job.endDate}}</td>
                    </tr>
                    <tr>
                        <th>Description:</th>
                            <td>{{job.description}}</td>
                    </tr>
            </table>
        </form>
    {% endfor %}
        <form action="/edit_job_history">
            <input type="submit" value="Add Job History" />
        </form>

{% endif %}

{% if Profile: %}
    <h1>References:</h1>
    {% if References %}
        <button>Edit Reference</button> <button>Delete Reference</button> 
        <table style="width: 60%;" border="1"  cellpadding="3">
        <style> td, th {
        text-align: left;
        }
        </style>
                <tr> 
                    <th>Name:</th>
                        <td></td>
                </tr>
                <tr>
                    <th>Phone:</th>
                        <td></td>
                </tr>
                <tr>
                    <th>Email:</th>
                        <td></td>
                </tr>
                <tr>
                    <th>Organization:</th>
                        <td></td>
                </tr>
        </table>
    {% endif %}
    <button>Add Reference</button>
{% endif %}
{% endblock %}